{% load static %}
<!-- Sponsors Modal -->
<div
  class="modal fade"
  id="sponsorsModal"
  tabindex="-1"
  aria-labelledby="sponsorsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sponsorsModalLabel">
          <i class="fas fa-dollar-sign me-2"></i>Sponsors
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          id="sponsorCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'assets/img/sponsor1.jpg' %}" class="d-block w-100" alt="Sponsor 1" />
              <div class="carousel-caption">
                <h6><i class="fas fa-user me-2"></i>Omowunmi Obadero Esther</h6>
                <div><i class="fas fa-graduation-cap me-2"></i>Class 21</div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/img/sponsor2.jpg' %}" class="d-block w-100" alt="Sponsor 2" />
              <div class="carousel-caption">
                <h6><i class="fas fa-user me-2"></i>Akpan Esseobong Camilus</h6>
                <div><i class="fas fa-graduation-cap me-2"></i>Class 21</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cropped-img">
                <img src="{% static 'assets/img/sponsor3.jpg' %}" class="d-block w-100" alt="Sponsor 3" />
              </div>
              <div class="carousel-caption">
                <h6>
                  <i class="fas fa-user me-2"></i>Adetunji Ayodele Paul (Ay
                  Control)
                </h6>
                <div><i class="fas fa-graduation-cap me-2"></i>Class 21</div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#sponsorCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#sponsorCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
