{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content=" " />
        <meta name="keywords" content="" />
        {% block misc-head-options %}

        {% endblock misc-head-options %}

        <title>{% block title %}{% endblock title %}</title>
    
        {% block styles %}
            
        {% endblock styles %}
    </head>
    <body>
        {% block content %}

        {% endblock content %}

        {% block scripts %}
            
        {% endblock scripts %}
    </body>
</html>