{% extends 'base.html' %}
{% load static %}

{% block misc-head-options %}
    <meta name="description" content="Futa Statistics Archive Website"/>
    <meta property="og:title" content="Futa Statistics Archive Website"/>
    <meta property="og:description" content="Futa Statistics Archive Website"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% endblock misc-head-options %}


{% block title %} STATISTICS Archive {% endblock title %}

{% block styles %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icons/fontawesome/css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
{% endblock styles %}

{% block content %} 
    <div class="page-wraper">

        {% comment %} Preloader {% endcomment %}
        {% include 'Dashboard/preloader.html' %}

        {% comment %} Header {% endcomment %}
        {% include 'Dashboard/header.html' %}

        {% comment %} Page Content {% endcomment %}
        {% include 'Dashboard/page-content.html' %}

        {% comment %} Upload Modal {% endcomment %}
        {% include 'Dashboard/Modals/upload-modal.html' %}

        {% comment %} Credits Modal {% endcomment %}
        {% include 'Dashboard/Modals/credits-modal.html' %}

        {% comment %} Sponsors Modal {% endcomment %}
        {% include 'Dashboard/Modals/sponsors-modal.html' %}

        {% comment %} Reports Modal {% endcomment %}
        {% include 'Dashboard/Modals/reports-modal.html' %}

        {% comment %} scrolltop button {% endcomment %}
        <button class="scroltop" type="button">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.10.1/tsparticles.confetti.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <script src="{% static 'assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
{% endblock scripts %}

