{% extends 'base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
{% endblock styles %}

{% block content %} 
<div class="container-fluid">
    <div class="container">
        <div class="limiter">
            <div class="container-login">
                <div class="wrap-login">
                    <form class="login-form validate-form" method="post">
                        {% csrf_token %}

                        <span class="login-form-logo">
                            <a href={% url 'login' %}>
                                <img src="{% static 'assets/img/futa-logo.jpeg' %}" alt="" width="120px">
                            </a>
                        </span>

                        <span class="login-form-title p-b-30 p-t-6">
                            Reset Password
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter new password">
                            <input class="input100" type="password" name="new_password1" placeholder="New Password" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Confirm new password">
                            <input class="input100" type="password" name="new_password2" placeholder="Confirm New Password" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login-form-btn">
                            <button class="login-form-btn" id="reset-password-btn">
                                Reset Password
                            </button>
                        </div>
        
                        <div class="text-center p-t-10">
                            <p>
                                Remember your password? <br>
                                <a href="{% url 'login' %}"><i class="fas fa-mouse-pointer"></i> Click here to log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include SweetAlert2 library -->    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<!-- Custom JavaScript for form validation -->
<script>
    $(document).ready(function() {
        // Function to validate password match on keyup event
        function validatePassword() {
            var password = $('input[name="new_password1"]').val();
            var confirm_password = $('input[name="new_password2"]').val();
            if (password != confirm_password) {
                $('#password-error').text('Password does not match');
                $('#reset-password-btn').prop('disabled', true); // Disable Reset Password button
            } else {
                $('#password-error').empty();
                $('#reset-password-btn').prop('disabled', false); // Enable Reset Password button
            }
        }
    
        // Perform password validation on keyup event
        $('input[name="new_password1"], input[name="new_password2"]').keyup(function() {
            validatePassword();
        });
    
        // AJAX form submission
        $('#reset-password-btn').click(function(e) {
            e.preventDefault();
    
            // Clear previous error messages
            $('.error-message').empty();
    
            // Get form data
            var new_password1 = $('input[name="new_password1"]').val();
            var new_password2 = $('input[name="new_password2"]').val();
            
            // Validate field required
            if (new_password1.trim() === '') {
                $('#new-password-error').text('Field required');
                return;
            }
            if (new_password2.trim() === '') {
                $('#confirm-password-error').text('Field required');
                return;
            }
    
            // Validate password match
            if (new_password1 != new_password2) {
                $('#password-error').text('Password does not match');
                return;
            }
    
            // Send AJAX request
            $.ajax({
                url: '{% url "reset_password" %}',
                type: 'POST',
                data: {
                    'new_password1': new_password1,
                    'new_password2': new_password2,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    var successMessage = response.success;
                    // Display success message in SweetAlert popup
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: successMessage,
                    }).then((result) => {
                        // Redirect to login page
                        window.location.href = '{% url "login" %}';
                    })
    
                    // Handle success response
                    // Redirect to a success page or display a success message
                },
                error: function(xhr) {
                    // Handle error response
                    if (xhr.status === 400) {
                        var errorData = xhr.responseJSON;
                        var errorMessage = errorData.error;
                        
                        // Display error message in SweetAlert popup
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: errorMessage,
                        });
                    }
                }
            });
        });
    });
    
</script>
{% endblock scripts %}
