{% extends 'base.html' %}
{% load static %}
{% block misc-head-options %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock misc-head-options %}
{% block title %} Reset Password {% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="limiter">
            <div class="container-login">
                <div class="wrap-login">
                    <!-- Add a div to hold the background image -->
                    <div class="background-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include SweetAlert2 library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<!-- Custom JavaScript for displaying SweetAlert popup -->
<script>
    $(document).ready(function() {
        // Display SweetAlert popup when the page is loaded
        Swal.fire({
            icon: 'error',
            title: 'Password Reset Failed!',
            text: 'Invalid Token or Token Expired!',
        }).then(function() {
            // Redirect the user
            window.location.href = "{% url 'forgot_password' %}";
        })
    });
</script>
{% endblock scripts %}
