{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
{% endblock styles %}

{% block content %} 
<div class="container-fluid">
    <div class="container">
        <div class="limiter">
            <div class="container-login">
                <div class="wrap-login">
                    <form class="login-form validate-form" method="post">
                        {% csrf_token %}

                        <span class="login-form-logo">
                            <a href={% url 'login' %}>
                                <img src="{% static 'assets/img/futa-logo.jpeg' %}" alt="" width="120px">
                            </a>
                        </span>

                        <span class="login-form-title p-b-30 p-t-6">
                            FUTA STAT-ARCHIVE <br> Registration
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter full name">
                            {{ form.fullname }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            {{ form.username }}
                            <span class="focus-input100"></span>
                            <p class="error-message" id="username-error"></p>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter email">
                            {{ form.email }}
                            <span class="focus-input100"></span>
                            <p class="error-message" id="email-error"></p>
                            
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            {{ form.password1 }}
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Confirm password">
                            {{ form.password2 }}
                            <span class="focus-input100"></span>
                            <p class="error-message" id="password-error"></p>

                        </div>

                        <div class="container-login-form-btn">
                            <button class="login-form-btn" id="register-btn">
                                Register
                            </button>
                        </div>
        
                        <div class="text-center p-t-10">
                            <p>
                                Already have an account? <br>
                                <a href="{% url 'login' %}"><i class="fas fa-mouse-pointer"></i> Click here to log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include SweetAlert2 library -->	
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<!-- Custom JavaScript for form validation -->
<script>
    $(document).ready(function() {
        // Regular expression for username validation
        var usernamePattern = /^sta\/\d{2}\/\d{4}$/;
    
        // Function to validate username on keyup event
        function validateUsername() {
            var username = $('input[name="username"]').val();
            if (username.length >= 10) {
                if (usernamePattern.test(username)) {
                    $('#username-error').empty();
                } else {
                    $('#username-error').text('Not a Valid Statistics Matric Number');
                }
            } else {
                $('#username-error').empty();
            }
        }
    
        // Perform username validation on keyup event
        $('input[name="username"]').keyup(function() {
            validateUsername();
        });
    
        // Function to validate email format
        function validateEmail() {
            var email = $('input[name="email"]').val();
            if (email.length > 0) {
                var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
                if (!emailPattern.test(email)) {
                    $('#email-error').text('Invalid email format');
                } else {
                    $('#email-error').empty();
                }
            } else {
                $('#email-error').empty();
            }
        }
    
        // Perform email validation on keyup event
        $('input[name="email"]').keyup(function() {
            validateEmail();
        });
    
        // Function to validate password match on keyup event
        function validatePassword() {
            var password = $('input[name="password1"]').val();
            var confirm_password = $('input[name="password2"]').val();
            if (password != confirm_password) {
                $('#password-error').text('Password does not match');
                $('#register-btn').prop('disabled', true); // Disable Register button
            } else {
                $('#password-error').empty();
                $('#register-btn').prop('disabled', false); // Enable Register button
            }
        }
    
        // Perform password validation on keyup event
        $('input[name="password1"], input[name="password2"]').keyup(function() {
            validatePassword();
        });
    
        // AJAX form submission
        $('#register-btn').click(function(e) {
            e.preventDefault();
    
            // Clear previous error messages
            $('.error-message').empty();
    
            // Get form data
            var fullname = $('input[name="fullname"]').val();
            var username = $('input[name="username"]').val();
            var email = $('input[name="email"]').val();
            var password = $('input[name="password1"]').val();
            var confirm_password = $('input[name="password2"]').val();
            
            // Validate field required
            if (fullname.trim() === '') {
                $('#fullname-error').text('Field required');
                return;
            }
            if (username.trim() === '') {
                $('#username-error').text('Field required');
                return;
            }
            if (email.trim() === '') {
                $('#email-error').text('Field required');
                return;
            }
            if (password.trim() === '') {
                $('#password-error').text('Field required');
                return;
            }
            if (confirm_password.trim() === '') {
                $('#confirm-password-error').text('Field required');
                return;
            }
    
            // Validate username format
            if (username.length >= 11 && !usernamePattern.test(username)) {
                $('#username-error').text('Invalid Matric Number');
                return;
            }
    
            // Validate email format
            var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
            if (email.length > 0 && !emailPattern.test(email)) {
                $('#email-error').text('Invalid email format');
                return;
            }
    
            // Validate password match
            if (password != confirm_password) {
                $('#password-error').text('Password does not match');
                return;
            }
    
            // Send AJAX request
            $.ajax({
                url: '{% url "register" %}',
                type: 'POST',
                data: {
                    'fullname': fullname,
                    'username': username.replace(/\//g, ''),
                    'email': email,
                    'password1': password,
                    'password2': confirm_password,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    var successMessage = response.success;
                    // Display success message in SweetAlert popup
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: successMessage,
                    });
    
                    // Handle success response
                    //  window.location.href = '{% url "login" %}';  //#TODO change this to the appropriate URL after successful registration
                },
                error: function(xhr) {
                    // Handle error response
                    if (xhr.status === 400) {
                        var errorData = xhr.responseJSON;
                        var errorMessage = errorData.error;
                        
                        // Display error message in SweetAlert popup
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: errorMessage,
                        });
                    }
                }
            });
        });
    });
    
</script>
{% endblock scripts %}
