{% load static %}
<header class="site-header mo-left header style-1">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container clearfix">
                <!-- Website Logo -->
                <div class="logo-header logo-dark">
                    <a href="index.html">
                        <img src="{% static 'assets/img/logo.jpg' %}" alt="logo"/>
                    </a>
                </div>

                <!-- Nav Toggle Button -->
                <button
                    class="navbar-toggler collapsed navicon justify-content-end"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                {% comment %} Extra Navigation Bar {% endcomment %}
                {% include 'Dashboard/extra-nav.html' %}

                {% comment %} Side Navigation BAr {% endcomment %}
                {% include 'Dashboard/side-nav.html' %}
            </div>
        </div>
    </div>
</header>