{% load static %}
{% load widget_tweaks %}

<!-- page content -->
<div class="page-content">
    <div class="content-inner-1 border-bottom">
        <div class="container">
            <div class="row">
                <!-- Start here -->
                <!-- navbar when screen is mobile view -->
                <div class="col-xl-14">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="title">Books Archive</h4>
                        <button
                            type="button"
                            class="btn btn-primary panel-btn btnhover2"
                            data-bs-toggle="modal"
                            data-bs-target="#uploadModal">
                            Upload Resources
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="filter-area">
                        <div class="grid-area">
                            <div class="header-search-nav">
                                <form id="resource-search-form" action={% url 'resource-search' %} class="header-item-search">
                                    {% csrf_token %}
                                    <div class="input-group search-input">
                                        {% render_field filter.form.search class+="form-control" placeholder="Type to search for Books, Textbooks & Projects Here"%}
                                    </div>
                                </form>
                            </div>
                        </div>
                    
                        <div class="category">
                            <div class="filter-category-new">
                                <div class="form-group">
                                    <i class="fas fa-list-alt me-2 text-secondary"></i>
                                    {% render_field filter.form.category class+="default-select" %}

                                </div>
                            </div>
                            <div class="filter-session-new">
                                <div class="form-group">
                                    <i class="fas fa-sort-amount-down me-2 text-secondary"></i>
                                    {% render_field filter.form.session class+="default-select" %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row book-grid-row" id="infinite-scroll-content">
                        {% if type == 'home' %}
                                <!-- Render the initial content here -->
                                {% include 'Dashboard/book-grid.html' with variable=resources %}                                
                        {% else %}
                                <!-- Render the initial content here -->
                                {% include 'Dashboard/book-grid.html' with variable=filter.qs %} 
                        {% endif %}
                        
                    </div>
                    {% include 'Dashboard/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    // Function to handle changes in the category and session dropdowns and search input
    function handleFilterChange() {
        const searchValue = $(".header-item-search input[name='search']").val().trim();
        const categoryValue = $(".filter-category-new select[name='category']").val();
        const sessionValue = $(".filter-session-new select[name='session']").val();

        // Create an object with the parameters and their values
        const params = {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        };

        // Add search parameter if it has a value
        if (searchValue !== '') {
            params['search'] = searchValue;
        }

        // Add category parameter if it has a value
        if (categoryValue !== '') {
            params['category'] = categoryValue;
        }

        // Add session parameter if it has a value
        if (sessionValue !== '') {
            params['session'] = sessionValue;
        }

        // Construct the query string using the filtered parameters
        const queryString = $.param(params);

        // Construct the final URL
        const url = '{% url "resource-search" %}' + '?' + queryString;

        console.log("constructed_url", url)
        // Send the AJAX request to the server
        $.ajax({
            url: url,
            type: 'GET', // Use 'GET' to send query parameters
            success: function(response) {
                // Clear existing book grid content
                if (response.length === 0) {
                    //$(".book-grid-row").empty();

                    var bookCardHtml = `
                    <div class="col-book style-1">
                      
                    </div>
                  `;
                  $(".book-grid-row").append(bookCardHtml);
                  $(".book-grid-row").html("<h1>No Results found</h1>");
                    return;
                }
                else{
                    $(".book-grid-row").empty();
                }
        
                // Iterate over the JSON data and update the book grid content
                for (var i = 0; i < response.length; i++) {
                  var resource = response[i];
                  var bookCardHtml = `
                    <div class="col-book style-1">
                      <div class="dz-shop-card style-1">
                        <div class="dz-media">
                          <img src="${resource.thumbnail}" alt="book">
                        </div>
                        <div class="dz-content">
                          <span><b>${resource.Name}</b></span>
                          <a href="${resource.file}" class="btn btn-secondary box-btn btnhover btnhover2">
                            <i class="fa fa-book-open m-r10"></i> Click To Download
                          </a>
                        </div>
                      </div>
                    </div>
                  `;
                  $(".book-grid-row").append(bookCardHtml);
                }
              },
            error: function (xhr) {
                // Handle error response
                console.error(xhr.responseText);
            }
        });
    }

    // Function to enable/disable the session dropdown
    function toggleSessionDropdown() {
        const categoryValue = $(".filter-category-new select[name='category']").val();
        const searchValue = $(".header-item-search input[name='search']").val().trim();
        const sessionDropdown = $(".filter-session-new select[name='session']");
        
        if (categoryValue || searchValue) {
            sessionDropdown.prop("disabled", false);
        } else {
            sessionDropdown.prop("disabled", true);
        }
    }

    // Call the toggleSessionDropdown function on page load to set initial state
    toggleSessionDropdown();

    // Add event listener to the category dropdown change
    $(".filter-category-new select[name='category']").on("change", function() {
        toggleSessionDropdown();
        handleFilterChange(); // Also call the handleFilterChange function to update the results
    });

    // Add event listener to the search input change
    $(".header-item-search input[name='search']").on("keypress", function(event) {
        // Check if the Enter key (key code 13) was pressed
        if (event.keyCode === 13) {
            event.preventDefault();
        } else {
            toggleSessionDropdown();
            handleFilterChange(); // Also call the handleFilterChange function to update the results
        }
    });


    
    
    
    // Function to hide the preloader
    function hidePreloader() {
        $("#loading-area").fadeOut();
    }

    // Function to show the preloader
    function showPreloader() {
        $("#loading-area").fadeIn();
    }

    // Initially, show the preloader on page load
    showPreloader();

    let loading = false;
    let currentPage = {{ resources.number|escapejs }}
    let totalPages = {{ resources.paginator.num_pages|escapejs }}
    
    console.log("PAges", currentPage, totalPages)
    // Function to load the next page of pagination
    function loadNextPage() {
      if (!loading && currentPage < totalPages) {
        loading = true;
        const nextPage = currentPage + 1;
  
        // Show the loading spinner
        document.getElementById("loading").style.display = "block";
        

        //console.log("nextpage",nextPageURL)
        // Send the AJAX request to fetch the next page
        $.ajax({
          url: "{% url 'Bibliotheca' %}?page=" + nextPage,
          type: "GET",
          dataType: "html",
          success: function (data) {
            if (data.trim() !== "") {
                // Get the <div class="col-book style-1"> elements from the response
                const $colBooks = $(data).find(".col-book.style-1");
                
                // Append the retrieved elements to the container
                $("#infinite-scroll-content").append($colBooks);
                loading = false;
                currentPage++;
                console.log("PAges", currentPage, totalPages)

            } else {
                // If no more data is available, hide the preloader
                $("#loading-area").hide();
            }
        },
          error: function (xhr) {
            // Handle error response
            console.error(xhr.responseText);
            loading = false;
          },
        });
      }
    }
  
    // Function to check if the user has scrolled to the bottom of the page
    function checkScroll() {
      if (
        $(window).scrollTop() + $(window).height() >=
        $(document).height() - 300
      ) {
        loadNextPage();
      }
    }
  
    // Add event listener for scrolling
    $(window).on("scroll", function () {
        // Hide the preloader when the user starts scrolling
        hidePreloader();
        checkScroll()
    });
});
</script>
{% endblock scripts %}


