<div class="row page mt-0">
  <div class="col-md-6">
    <p class="page-text">Showing 12 from 50 data</p>
  </div>
  <div class="col-md-6">
    <nav aria-label="Blog Pagination">
      <ul class="pagination style-1 p-t20">
        <li class="page-item">
          <a class="page-link prev" href="javascript:void(0);">Prev</a>
        </li>
        <li class="page-item">
          <a class="page-link active" href="javascript:void(0);">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li>
        <li class="page-item">
          <a class="page-link next" href="javascript:void(0);">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
